* {
  background-color: #706142;
  color: #aa9366;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#issContainer {
  text-align: center; 
  width: 450px; 
  margin-left: auto; 
  margin-right:auto;
}