* {
  background-color: #706142;
  color: #aa9366;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headerTitle {
  font-size: 170px;
  text-align:  center;
  margin: 0px;
}

#chuckWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
.siteDiv {
  border: 3px solid white;
  border-radius: 10px;
  margin: 20px 5px;
  padding: 5px;
}

.pageDivider {
  clear: both;
}

#issContainer {
  text-align: center; 
  width: 450px; 
  margin-left: auto; 
  margin-right:auto;
}